<h1 class="h2">Cadastro de Materiais.</h1>
<form class="row g-3" (submit)="adicionar()" [formGroup]="materialForm">
  <div class="col">
  <div class="col-md-4">
    <label for="nome" class="form-label">Descrição Material</label>
    <input type="text" class="form-control is-valid" id="nome" value="Mark" required>
    <div class="valid-feedback">
      erro
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationServer04" class="form-label">Unidade de Médida</label>
    <select class="form-select is-invalid" id="validationServer04" aria-describedby="validationServer04Feedback"
      required>
      <option selected disabled value="">Choose...</option>
      <option>...</option>
    </select>
    <div id="validationServer04Feedback" class="invalid-feedback">
      erro
    </div>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Salvar</button>
  </div>
  </div>
</form>
